
 .card-img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 11rem ;
    height: 12rem;
    border-radius: 12px;
  }
  .text-container{
    font-size: 16px;
    margin: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 164px; /* change to your preferences */
    white-space: initial;/* paragraph to one line */
    overflow:hidden; /* older browsers */
  }
 
  .fav:hover{
  color: white; 
  transition: 0.5s;
  cursor: pointer;
  
  }
  .img-container{
    padding: 38px;
  
  }
  h3{
    margin-top: 0;
  }
